<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucers.base" >

    <application>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provide_file_paths" />
        </provider>

        <!-- config -->
        <!-- AndroidAutoSize config -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <!-- LiuHaiScreen config -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>
</manifest>
